
body {
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
}
.header {
  padding: 7% 15%;
  background-color: #c65aed;
  font-family: 'Dancing Script', cursive;
  line-height: 3;

}

.chrisJen {
  border-radius: 50%;
  width: 200px;
  transform: rotate(270deg);
  position: relative;
  top: 50px;
}

h1 {
  color: white;
  font-weight: bold;
}



.logo-img {
  width: 180px;
  padding: 0;
  margin: 0;
}

.sonic {
position: relative;


 }

.s-img {
  width: 175px;
}

.main {
  padding: 7% 15% 20%;

}

.middle {
    padding: 7% 15%;
  background-color: #c65aed;
  color: white;
  text-align: left;
}

.nav {
  padding: 3% 15%;
  background-color: #c65aed;

}

.celeb {
  border-radius: 50%;
  width: 300px;
  transform: rotate(90deg);
  position: relative;
  top: 50px;
}

.loveIcon {
  width: 200px;
  float: left;
}

.tough {
  width: 200px;
  float: right;
}

.final {
  padding: 7% 15%;
  background-color: lightblue;
  color: gray;
  font-size: 30px;
}

.conclusion {
  padding: 3% 15%;
}

.end {
  padding: 3% 15% 30%;
  background-color: #c65aed;
  color: white;
}


@media (max-width: 1028px) {
  .header {
    text-align: center;

  }

  .nav-link {
  margin-top: 15px;
  }

  .sonic {
    margin-top: 20px;
    position: relative;
    left: 0;
  }
}
