.navbar-brand {
  width: 75%;
  padding: 20px 0 10px 50px;
}

h2 {
  color: white;
}

.carousel-size {
  width: 75%;
}

.navbar-dark {
  font-size: 1.1em;
  padding: 20px 50px 10px 50px;
}

#kt-logo {
  display: block;
  margin: 30px auto 30px auto;
}

#carouselExampleCaptions {
  text-align: center;
  margin: auto;
  margin-bottom: 50px;
}

.projects-container {
  text-align: center;
  padding: 30px 50px 30px 50px;
  background: #96C7DB;
}

.projects {
  display: inline-block;
}

.projectImage {
  width: 20%;
  margin: 0 50px 10px 50px;
  border: 1px black solid;
  border-radius: 15px;
}

.projectImage:hover {
  opacity: 0.8;
}
